<h1 id="tableLabel">Films</h1>

<p>This component demonstrates fetching data from Films.</p>

<p *ngIf="!films"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="films">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Genre</th>
      <th>LengthInMinutes</th>
      <th>YearOfRelease</th>
      <th>Director</th>
      <th>Date added</th>
      <th>Rating</th>
      <th>Watched</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films">
      <td>{{ film.id }}</td>
      <td>{{ film.title }}</td>
      <td>{{ film.description }}</td>
      <td>{{ film.genre }}</td>
      <td>{{ film.lengthInMinutes }}</td>
      <td>{{ film.yearOfRelease }}</td>
      <td>{{ film.director }}</td>
      <td>{{ film.dateTime}}</td>
      <td>{{ film.rating }}</td>
      <td>{{ film.watched }}</td>
    </tr>
  </tbody>
</table>
